version: 2
jobs:
  build:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test
    working_directory: ~/app

    steps:
      - checkout
      - run: git submodule sync --recursive
      - run: git submodule update --recursive --init

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - run: echo 'export PATH=~/.cargo/bin:$PATH' >> $BASH_ENV

      - run:
          command: ./bin/setup
          no_output_timeout: 2400

      - save_cache:
          key: v7-env-cache-{{ arch }}-{{ .Branch }}
          paths:
            - $HOME/.cargo
            - $HOME/.rustup

      - save_cache:
          key: v7-env-cache-{{ .Branch }}
          paths:
            - $HOME/.cargo
            - $HOME/.rustup

      - save_cache:
          key: v7-env-cache
          paths:
            - $HOME/.cargo
            - $HOME/.rustup

      - save_cache:
          key: v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths: "deps"
      - save_cache:
          key: v7-mix-cache-{{ .Branch }}
          paths: "deps"
      - save_cache:
          key: v7-mix-cache
          paths: "deps"

      - save_cache:
          key: v7-build-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths: "_build"
      - save_cache:
          key: v7-build-cache-{{ .Branch }}
          paths: "_build"
      - save_cache:
          key: v7-build-cache
          paths: "_build"

      - run:
          name: Compile
          command: mix compile

      - persist_to_workspace:
          root: .
          paths:
            - .circleci
            - .dialyzer.ignore-warnings
            - .formatter.exs
            - .git
            - .gitignore
            - _build
            - .credo.exs
            - apps
            - bin
            - config
            - deps
            - doc
            - mix.exs
            - mix.lock
            - chains
            - ethereum_common_tests
            - rel

  test:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run: mix test --exclude pending

  Frontier:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run: mix cmd --app blockchain mix test --exclude test --include Frontier

  Homestead:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run: mix cmd --app blockchain mix test --exclude test --include Homestead

  HomesteadToDaoAt5:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run: mix cmd --app blockchain mix test --exclude test --include HomesteadToDaoAt5

  TangerineWhistle:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run: mix cmd --app blockchain mix test --exclude test --include TangerineWhistle

  SpuriousDragon:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run: mix cmd --app blockchain mix test --exclude test --include SpuriousDragon

  Byzantium:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run: mix cmd --app blockchain mix test --exclude test --include Byzantium

  Constantinople:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - run:
          command: mix cmd --app blockchain mix test --exclude test --include Constantinople
          no_output_timeout: 2400

  dialyzer:
    docker:
      # Ensure .tool-versions matches
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
          at: .
      - run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - run: echo 'export PATH=~/.cargo/bin:$PATH' >> $BASH_ENV

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v7-build-cache-{{ .Branch }}
            - v7-build-cache

      - restore_cache:
          keys:
            - v7-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v7-mix-cache-{{ .Branch }}
            - v7-mix-cache

      - restore_cache:
          keys:
            - v7-env-cache-{{ arch }}-{{ .Branch }}
            - v7-env-cache-{{ .Branch }}
            - v7-env-cache

      - restore_cache:
          keys:
            - v7-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.lock" }}
            - v7-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.exs" }}
            - v7-plt-cache-{{ ".tool-versions" }}

      - run:
          name: Unpack PLT cache
          command: |
            mkdir -p _build/test
            cp plts/dialyxir*.plt _build/test/ || true
            mkdir -p ~/.mix
            cp plts/dialyxir*.plt ~/.mix/ || true

      - run: mix dialyzer --plt

      - run:
          name: Pack PLT cache
          command: |
            mkdir -p plts
            cp _build/test/dialyxir*.plt plts/
            cp ~/.mix/dialyxir*.plt plts/

      - save_cache:
          key: v7-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.lock" }}
          paths:
            - plts

      - save_cache:
          key: v7-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.exs" }}
          paths:
            - plts

      - save_cache:
          key: v7-plt-cache-{{ ".tool-versions" }}
          paths:
            - plts

      - run: mix dialyzer --format short --halt-exit-status


  check_formatted:
    docker:
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix format --check-formatted

  credo:
    docker:
      # Ensure .tool-versions matches
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
          at: .

      - run: mix local.hex --force

      - run: mix credo --only readability,consistency,warning,refactor

  release:
    docker:
      # Ensure .tool-versions matches
      - image: circleci/elixir:1.7.3
        environment:
          MIX_ENV: dev
    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .
      - run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - run: echo 'export PATH=~/.cargo/bin:$PATH' >> $BASH_ENV
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix compile
      - run: mix release --verbose --env prod
      - run:
          name: Collecting artifacts
          command: |
            find -name 'mana.tar.gz' -exec sh -c 'mkdir -p ci_artifact && cp "$@" ci_artifact' _ {} +
          when: always

      - store_artifacts:
          name: Uploading CI artifacts
          path: ci_artifact/mana.tar.gz
          destination: ci_artifact

workflows:
  version: 2
  primary:
    jobs:
      - build
      - credo:
          requires: [build]
      - check_formatted:
          requires: [build]
      - dialyzer:
          requires: [build]
      - test:
          requires: [build]
      - release:
          requires: [build]
      - Frontier:
          requires: [build]
      - Homestead:
          requires: [build]
      - HomesteadToDaoAt5:
          requires: [build]
      - TangerineWhistle:
          requires: [build]
      - SpuriousDragon:
          requires: [build]
      - Byzantium:
          requires: [build]
      - Constantinople:
          requires: [build]
