version: 2
jobs:
  build:
    docker:
      - image: circleci/elixir:1.7.2
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - checkout
      - run: git submodule sync --recursive
      - run: git submodule update --recursive --init

      - restore_cache:
          keys:
            - v4-env-cache-{{ arch }}-{{ .Branch }}
            - v4-env-cache-{{ .Branch }}
            - v4-env-cache

      - restore_cache:
          keys:
            - v4-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v4-mix-cache-{{ .Branch }}
            - v4-mix-cache

      - restore_cache:
          keys:
            - v4-build-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v4-build-cache-{{ .Branch }}
            - v4-build-cache

      - run: echo 'export PATH=~/.cargo/bin:$PATH' >> $BASH_ENV

      - run:
          command: ./bin/setup
          no_output_timeout: 2400

      - save_cache:
          key: v4-env-cache-{{ arch }}-{{ .Branch }}
          paths:
            - $HOME/.cargo
            - $HOME/.rustup

      - save_cache:
          key: v4-env-cache-{{ .Branch }}
          paths:
            - $HOME/.cargo
            - $HOME/.rustup

      - save_cache:
          key: v4-env-cache
          paths:
            - $HOME/.cargo
            - $HOME/.rustup

      - save_cache:
          key: v4-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths: "deps"
      - save_cache:
          key: v4-mix-cache-{{ .Branch }}
          paths: "deps"
      - save_cache:
          key: v4-mix-cache
          paths: "deps"

      - save_cache:
          key: v4-build-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths: "_build"
      - save_cache:
          key: v4-build-cache-{{ .Branch }}
          paths: "_build"
      - save_cache:
          key: v4-build-cache
          paths: "_build"

      - run:
          name: Compile
          command: mix compile

      - persist_to_workspace:
          root: .
          paths:
            - .circleci
            - .dialyzer.ignore-warnings
            - .formatter.exs
            - .git
            - .gitignore
            - _build
            - .credo.exs
            - apps
            - bin
            - config
            - deps
            - doc
            - mix.exs
            - mix.lock
            - chains

  test:
    docker:
      - image: circleci/elixir:1.7.2
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix test --exclude pending

  test_frontier:
    docker:
      - image: circleci/elixir:1.7.2
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix cmd --app blockchain mix test --exclude test --include Frontier

  dialyzer:
    docker:
      # Ensure .tool-versions matches
      - image: circleci/elixir:1.7.2
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
          at: .
      - run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - run: echo 'export PATH=~/.cargo/bin:$PATH' >> $BASH_ENV

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v4-build-cache-{{ .Branch }}
            - v4-build-cache

      - restore_cache:
          keys:
            - v4-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v4-mix-cache-{{ .Branch }}
            - v4-mix-cache

      - restore_cache:
          keys:
            - v4-env-cache-{{ arch }}-{{ .Branch }}
            - v4-env-cache-{{ .Branch }}
            - v4-env-cache

      - restore_cache:
          keys:
            - v4-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.lock" }}
            - v4-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.exs" }}
            - v4-plt-cache-{{ ".tool-versions" }}

      - run:
          name: Unpack PLT cache
          command: |
            mkdir -p _build/test
            cp plts/dialyxir*.plt _build/test/ || true
            mkdir -p ~/.mix
            cp plts/dialyxir*.plt ~/.mix/ || true

      - run: mix dialyzer --plt

      - run:
          name: Pack PLT cache
          command: |
            mkdir -p plts
            cp _build/test/dialyxir*.plt plts/
            cp ~/.mix/dialyxir*.plt plts/

      - save_cache:
          key: v4-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.lock" }}
          paths:
            - plts

      - save_cache:
          key: v4-plt-cache-{{ ".tool-versions" }}-{{ checksum "mix.exs" }}
          paths:
            - plts

      - save_cache:
          key: v4-plt-cache-{{ ".tool-versions" }}
          paths:
            - plts

      - run: mix dialyzer --halt-exit-status


  check_formatted:
    docker:
      - image: circleci/elixir:1.7.2
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
           at: .

      - run: mix format --check-formatted

  credo:
    docker:
      # Ensure .tool-versions matches
      - image: circleci/elixir:1.7.2
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - attach_workspace:
          at: .

      - run: mix local.hex --force

      - run: mix credo --only readability,consistency,warning,refactor

workflows:
  version: 2
  primary:
    jobs:
      - build
      - credo:
          requires:
            - build
      - check_formatted:
          requires:
            - build
      - dialyzer:
          requires:
            - build
      - test:
          requires:
            - build
      - test_frontier:
          requires:
            - build
